<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/materialize.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jquery-2.2.2.min.js"></script>
    <script src="/static/js/materialize.min.js"></script>
    <script src="/static/js/main.js"></script>
    <title>Category - {{content.category_name}}</title>
</head>
<body>

<div class="page-heading">
    {{content.category_name}}
</div>
<div class="container">
    <div class="row high-top-margin">
        <div class="col s12 m12 l12 center">
            <div class="card-panel teal lighten-1 z-depth-3">
          <span class="white-text open-sans-text-24px">
              {{content.category_description}}
          </span>
            </div>
        </div>
    </div>
</div>
</body>
</html>