<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/materialize.min.css"/>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/jquery-2.2.2.min.js"></script>
    <script src="../static/js/materialize.min.js"></script>
    <script src="../static/js/main.js"></script>
    <title>Create Category</title>
</head>
<body>

<div class="page-heading">
    Create Category
</div>

<div class="container high-top-margin">
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Category Name" id="category_name" class="validate" type="text" maxlength="30">
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center;">
        <button id="create_category" class="waves-effect waves-light btn-large">Create</button>
    </div>
</div>
</body>
</html>