.page-heading {
    padding: 40px 0px 35px 0px;
    font-family: Raleway, serif;
    font-size: 24pt;
    width: 100%;
    text-align: center;
    background-color: #009688 !important;
    color: #FFFFFF;
}

.wide-250px {
    width: 250px;
}

.high-200px {
    height: 200px;
}

.faded {
    opacity: 0.8;
}

.faded:hover {
    opacity: 1;
}

.open-sans-text-24px {
    font-family: Open Sans, Serif;
    font-size: 24px;
}

.open-sans-text-18px {
    font-family: Open Sans, Serif;
    font-size: 18px;
}

.padding0-100-0-0 {
    padding-right: 100px;
}

.wide-80 {
    width: 80%;
}

.card .card-image img {
    width: 200px;
}

.raleway {
    font-family: Raleway, Serif;
}

@media only screen and (min-width: 601px) {
    .row .col.m4 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
}

@media only screen and (min-width: 820px) {
    .row .col.m4 {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
}

@media only screen and (min-width: 993px) {
    .row .col.l3 {
        width: 33.33%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
}

@media only screen and (min-width: 1270px) {
    .row .col.l3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
}

.high-top-margin {
    margin-top: 100px;
}